[Unit]
Description=Permalight dynamic light control
Wants=network-online.target networking.service NetworkManager.service
After=network-online.target networking.service NetworkManager.service

[Service]
ExecStart=/home/pi/permalight/permalight/light_control.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=permalight

[Install]
WantedBy=multi-user.target
